body {
    font-family: 'Roboto', sans-serif;
    color: #373867;
}

aside #sign-up {
    padding: 10px 20px;
    border-radius: 3.75px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    box-shadow: 2px 2px 2px grey;
    background-color: #373867;
}

#aside-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h2 {
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 2%;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px grey;
}

#form-container {
    width: 80%;
    margin: 5%;
    border-radius: 10%;
    box-shadow: 5px 5px 5px grey;
    border: 5px solid #aace9b;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    padding-top: 5%;
    font-size: 12px;
    font-weight: 500;
}

form input {
    padding: 3%;
    margin-top: 3%;
    width: 90%;
    border-style: outset;
    box-shadow: 3px 3px #373867;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    color: #373867;
    font-size: 10px;
}

#home {
    color:#373867;
}
#login {
    padding: 10%;
    width: 100px;
    height: 20px;
}

#login input {
    padding: 10%;
    background-color: #373867;
    border-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    box-shadow: 2px 2px 2px grey
}

#remember {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 500;
}

#remember input {
    width: 5%;
    margin-top: 1%;
    box-shadow: none;
    color: #373867;
}
.error {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: red;
    display: flex;
}

.hide {
    visibility: hidden;
}

@media screen and (min-width: 768px) {

    header h1 {
        font-size: 60px;
    }

    header i {
        font-size: 50px;
    }

    main h2 {
        font-size: 35px;
    }

    form div {
        font-size: 20px;
    }

    form input {
        font-size: 15px;
    }

    #login input {
        font-size: 15px;
    }

}

@media screen and (min-width: 1024px) {

    body {
        display: flex;
        flex-direction: column;
    }

    #burger-menu {
        visibility: hidden;
    }

    #home {
        font-size: 30px;
        margin-left: 20%;
    }

    header {
        margin-left: 10%;
        font-size: 60px;
        text-align: start;
    }

    footer {
        margin-left: 20%;
        font-size: 15px;
    }

    aside {
        display: flex;
        justify-content: space-between;
    }

    #form-container {
        width: 50%;
        margin-left: 25%;
    }
}