<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/reset.css">
    <link rel="stylesheet" href="../CSS/header.css">
    <link rel="stylesheet" href="../CSS/main.css">
    <link rel="stylesheet" href="../CSS/sidebar.css">
    <link rel="stylesheet" href="../CSS/footer.css">
    <link rel="stylesheet" href="../CSS/style.css">
    <script src="https://kit.fontawesome.com/a45c2b6d49.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Trackgenix
    </title>
</head>

<body>
    <header>
        <i id="burger-menu" class="fa-solid fa-bars"></i>
        <h1>
            Trackgenix SA
        </h1>
        <i id="home" class="fa-solid fa-house"></i>
    </header>
    <aside>
        <div>
            <input type="search" placeholder="Search..">
        </div>
        <div class="buttons">
            <a id="log-in"
                href="https://lulibianchini.github.io/BaSP-M2022-Etapa-1/Semana-06/Views/login.html"
                target="_blank">Log In</a>
            <a id="sign-up"
                href="https://lulibianchini.github.io/BaSP-M2022-Etapa-1/Semana-06/Views/sign-up.html"
                target="_blank">Sign Up</a>
        </div>
        <div class="aside-content">
            <h2>
                Menu
            </h2>
            <div class="aside-line">
            </div>
            <ul>
                <li>
                    <a href="#homepage">
                        Homepage
                    </a>
                </li>
                <li>
                    <a href="#features">
                        Features
                    </a>
                </li>
                <li>
                    <a href="#reasons">
                        Why Trackgenix
                    </a>
                </li>
                <li>
                    <a href="#contact">
                        Contact us
                    </a>
                </li>
            </ul>
            <h2>
                Get in touch
            </h2>
            <div class="aside-line">
            </div>
            <ul>
                <li>
                    <a href="mail">
                        <i class="fa-solid fa-envelope"></i>
                        info@trackgenix.com
                    </a>
                </li>
                <li>
                    <a href="phone">
                        <i class="fa-solid fa-phone-flip"></i>
                        123-456789
                    </a>
                </li>
                <li>
                    <a href="adress">
                        <i class="fa-solid fa-house"></i>
                        123 Fake Road #2000 Rosario, Argentina
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    <main>
        <section class="homepage-section">
            <div class="homepage-1">
                <div class="hp">
                    <h2 id="homepage">

                        What is Trackgenix
                    </h2>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas voluptatibus qui non
                        corrupti unde iusto rem, maiores libero asperiores ullam quos! Perferendis consequuntur
                        consectetur illum tempore? Expedita quod impedit, sint qui odio facilis eum modi maiores
                        recusandae nostrum similique illum architecto ab dolore ipsum, dolores aut accusamus quam
                        nesciunt numquam ducimus cumque quasi. Neque placeat quae exercitationem laboriosam dolorum.
                    </p>
                </div>
                <img src="../Assets/graphics.png" alt="graphics">
            </div>
            <div class="homepage-2">
                <div class="hp">
                    <h2>
                        Our History
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati distinctio quis iste
                        aspernatur error eos tenetur magnam atque quos. Officia non minus cum? Distinctio expedita
                        tempora quas, nisi ut officia?
                    </p>
                    <a href="learn-more.html" target="_blank">
                        Learn More
                    </a>
                </div>
                <img src="../Assets/meeting.png" alt="meeting">
            </div>
        </section>
        <section class="features-section">
            <h2 id="features">
                Features
            </h2>
            <div class="line">
            </div>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus ex sequi, sed
                consectetur fugit nostrum iusto quis totam explicabo doloribus aperiam, quia officiis quaerat
                nihil fuga, harum odio? Amet, harum!
            </p>
            <ul>
                <li>
                    <span>Item 1:</span>Lorem ipsum dolor sit, amet consectetur adipisicing.
                </li>
                <li>
                    <span>Item 2:</span>Lorem ipsum dolor sit amet consectetur adipisicing.
                </li>
                <li>
                    <span>Item 3:</span>Lorem ipsum dolor, sit amet consectetur adipisicing.
                </li>
                <li>
                    <span>Item 4:</span>Lorem ipsum dolor sit amet consectetur, adipisicing.
                </li>
                <li>
                    <span>Item 5:</span>Lorem ipsum dolor sit amet consectetur adipisicing.
                </li>
            </ul>
        </section>
        <section class="reasons-section">
            <h2 id="reasons">
                Why Trackgenix?
            </h2>
            <div class="line">
            </div>
            <div class="reasons-blocks-left">
                <div class="reasons-text">
                    <h3>
                        Subheader
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus harum natus sint
                        molestiae minima cumque ipsa ad dignissimos voluptatum fugiat, at quia dolores architecto.
                    </p>
                    <a href="learn-more.html" target="_blank">
                        Learn More
                    </a>
                </div>
                <img id="computer" src="../Assets/computer.jpg" alt="computer">
            </div>
            <div class="reasons-lines">
            </div>
            <div class="reasons-blocks-right">
                <div class="reasons-text">
                    <h3>
                        Subheader
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam mollitia illo quia,
                        voluptatem omnis delectus velit ad reiciendis obcaecati, a eius non, repellendus ex.
                    </p>
                    <a href="learn-more.html" target="_blank">
                        Learn More
                    </a>
                </div>
                <img id="office" src="../Assets/office.jpg" alt="office">
            </div>
            <div class="reasons-lines">
            </div>
            <div class="reasons-blocks-left">
                <div class="reasons-text">
                    <h3>
                        Subheader
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus mollitia totam tempora
                        eum debitis nisi, fuga dolorum dicta facere rerum, sed, necessitatibus maxime omnis.
                    </p>
                    <a href="learn-more.html" target="_blank">
                        Learn More
                    </a>
                </div>
                <img id="brainstorming" src="../Assets/brainstorming.jpg" alt="brainstorming">
            </div>
            <div class="reasons-lines">
            </div>
            <div class="reasons-blocks-right">
                <div class="reasons-text">
                    <h3>
                        Subheader
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur dolore consectetur
                        alias cumque quam odit assumenda eos reiciendis voluptatum labore voluptate, molestias.
                    </p>
                    <a href="learn-more.html" target="_blank">
                        Learn More
                    </a>
                </div>
                <img id="team" src="../Assets/team.jpg" alt="team">
            </div>
            <div class="reasons-lines">
            </div>
            </div>
        </section>
        <section class="contact-section">
            <h2 id="contact">
                Contact us
            </h2>
            <div class="line"></div>
            <form>
                <div class="contact-fields">
                    <div>
                        <label for="name">
                            Name
                        </label>
                    </div>
                    <input type="text" name="Name" placeholder="Insert your name">
                </div>
                <div class="contact-fields">
                    <div>
                        <label for="email">
                            Email
                        </label>
                    </div>
                    <input type="email" placeholder="Insert your email">
                </div>
                <div class="contact-fields">
                    <div>
                        <label for="category">
                            Category
                        </label>
                    </div>
                    <select name="contact-area" id="contact-area">
                        <option value="option">
                            Option
                        </option>
                        <option value="human-resources">
                            Human Resources
                        </option>
                        <option value="finances">
                            Finances
                        </option>
                        <option value="management">
                            Management
                        </option>
                        <option value="marketing-sales">
                            Marketing/Sales
                        </option>
                        <option value="research-development">
                            Research and Development
                        </option>
                    </select>
                </div>
                <div class="contact-fields">
                    <div>
                        <label for="message">
                            Message
                        </label>
                    </div>
                    <textarea name="write" id="write" cols="30" rows="10">Write us a message...
                        </textarea>
                </div>
                <div class="contact-buttons">
                    <button class="send" type="button">Send Message</button>
                    <button class="reset" type="button">Reset</button>
                </div>
            </form>
        </section>
        <section class="bottom-section">
            <h2>
                TRACKGENIX
            </h2>
            <div class="bottom-list">
                <h3>
                    Products
                </h3>
                <ol>
                    <li>
                        <a href="features.html" target="_blank">
                            Features
                        </a>
                    </li>
                    <li>
                        <a href="downloads.html" target="_blank">
                            Downloads
                        </a>
                    </li>
                    <li>
                        <a href="integrations.html" target="_blank">
                            Integrations
                        </a>
                    </li>
                    <li>
                        <a href="extras.html" target="_blank">
                            Extras

                        </a>
                    </li>
                </ol>
            </div>
            <div class="bottom-list">
                <h3>
                    Company
                </h3>
                <ol>
                    <li>
                        <a href="about-us.html" target="_blank">
                            About us
                        </a>
                    </li>
                    <li>
                        <a href="clients.html" target="_blank">
                            Clients

                        </a>
                    </li>
                    <li>
                        <a href="resources.html" target="_blank">
                            Resources

                        </a>
                    </li>
                    <li>
                        <a href="blog.html" target="_blank">
                            Blog
                        </a>
                    </li>
                </ol>
            </div>
            <div class="bottom-list">
                <h3>
                    Support
                </h3>
                <ol>
                    <li>
                        <a href="help.html" target="_blank">
                            Help
                        </a>
                    </li>
                    <li>
                        <a href="tutorials.html" target="_blank">
                            Tutorials
                        </a>
                    </li>
                    <li>
                        <a href="features.html" target="_blank">
                            API
                        </a>
                    </li>
                    <li>
                        <a href="contact.html" target="_blank">
                            Contact
                        </a>
                    </li>
                </ol>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-icons">
            <a href="https://twitter.com/?lang=en" target="_blank">
                <i class="fa-brands fa-twitter"></i></a>
            <a href="https://ar.linkedin.com/" target="_blank">
                <i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/" target="_blank">
                <i class="fa-brands fa-github"></i></a>
            <a href="https://www.instagram.com/" target="_blank">
                <i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.facebook.com/" target="_blank">
                <i class="fa-brands fa-facebook"></i></a>
        </div>
        <p>
            Rosario, Argentina
        </p>
        <p>
            Copyright &copy; 2022 Radium Rocket. All rights reserved.
        </p>
    </footer>
</body>

</html>