header {
    border-bottom: 3.75px solid #373867;
    text-align: center;
    padding: 3%;
    
}

header i {
    display: inline-block;
    font-size: 20px;
    color: #373867;
}

header h1 {
    display: inline-block;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 45px;
    font-weight: 700;

}

#header-line {
    border-top: 2px solid #aace9b;
}
