header {
    display: flex;
    justify-content: space-between;
    border-bottom: 3.75px solid #373867;
    align-items: center;
    padding: 3%;
}

header i {
    font-size: 30px;
    color: #373867;
}

header h1 {
    font-size: 50px;
    font-weight: 700;

}

#header-line {
    border-top: 2px solid #aace9b;
}
