body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #373867;
}


@media screen and (min-width: 768px) {

    body {
        display: flex;
        flex-direction: column;
    }

    header h1 {
        font-size: 60px;
    }
    /*********************************HOMEPAGE****************************/

    .homepage-1 {
        flex-direction: row;
        align-items: center;
    }
        
    .homepage-2 {
        flex-direction: row-reverse;
        align-items: center;
    }
    
    .homepage-section .hp, .homepage-section p {
        align-self: center;
        text-align: left;
        font-size: 16px;
    }
    
    .features-section p {
        text-align: left;
    }

    .features-section ul{
        font-size: 18px;
        text-align: center;
        line-height: 28px;
    }

    .features-section span{
        font-size: 23px;
        font-weight: 700;
    }

    .reasons-blocks-left {
        flex-direction: row;
        align-items: center;
        width:80%
    }

    .reasons-blocks-right {
        flex-direction: row-reverse;
        align-items: center;
        width:80%
    }
    

/*********************************BOTTOM****************************/

    .bottom-section h3, .bottom-list a {
        font-size: 15px;
    }

    .bottom-section h2 {
        display: contents;
    }

    
}


@media screen and (min-width: 1024px) {

    /*********************************SIDEBAR****************************/
    
    body {
        justify-content: left;
    }
    aside {
        display: flex;
    }

    main {
        margin-left: 20%;
    }

    header i {
        visibility: hidden;
    }

    header {
        font-size: 60px;
        margin-left: 20%;
        justify-content: flex-start;
    }
    
    footer {
        font-size: 15px;
        margin-left: 20%;
    }

    .contact-items, .contact-buttons{
        width: 70%;
    }
    
/*     .features-section {
        align-items: flex-start;
    }

    .reasons-section {
        align-items:  flex-start;
    }

    .contact-section {
        align-items:  flex-start;
    }*/
} 

